Body{
margin:0;
Font-family:sans-serif;
}
a{text-decoration: none;}
.box-1{
	background:#2A496F; 
	height:35px;
}
.box-1 ul{
	list-style: none;
	}
.box-1 ul li{
float:left;
margin-top:8px;

}
.box-1 ul li.quick-call{
	list-style-image:url('../../icons/call.png'); 
	margin-top:5px;
    margin-left: 85px;
	size:10px;
}
.box-1 ul li.quick-call a{
	color: white;
	border-right: 1px solid;
	padding-right: 20px;
	font-family: Candara;
	text-decoration: none;
	font-size: 18;
	font-weight: bolder;

}
	.box-1 ul li.quick-call a:hover{
		color:#ccc;
	}
	.box-1 ul li.quick-email{
		list-style-image: url('../../icons/envelope.png');
	margin-top:6px;
    margin-left:35px;
	
	}
	.box-1 ul li.quick-email a{
	color: white;
	border-right: 1px solid;
	padding-right: 20px;
	font-family: Candara;
	text-decoration: none;
	font-size: 18;
	font-weight: bolder;
}
.box-1 ul li.note{
	list-style-image:url('../../icons/right-hand.png');
	margin-left:30px;
}
.box-1 ul li.note{
color:white;
padding-left:0;
}
.box-1 ul li.notice a{
	color:white;
	padding-left:22px;
	font-family:calibri;
	font-weight:32px;
	border-right: 2px solid;
	padding-right: 22px;
	font-weight: bold;
}
.search-form{
margin-top:40px;
Float:right;
margin-right:110px;
border-radius: 24px 24px 24px 24px;
}
input[type=text]{
border:1px #ccc solid;
border-right:none; 
Padding:7px;
border-radius: 18px 0 0 18px;
Font-size:20px; 
Font-Family:arial,sans-serif;
}
input[type=text]:focus{
width:450px;
}
button.big{
float:right;
background:#2A496F;
color:white;
border-radius: 0 18px 18px 0;
border:1px #2A496F solid;
border-left:none; 
Cursor:pointer;
postion:relative;
padding:7px;
font-family:sans-serif;
font-size:20px;
}
.box-2{
	font-size: 40px;
	margin-left:5%;
font-family:Calibri;
color: #2A496F;
margin-top:35px; 
}

.box-3{
	color:grey;
margin-left:5%;
letter-spacing: 0.2em;
}
.main-nav{
	width: 100%;
	background:#2A496F;
	margin-top:30px; 
	height: 40px;
	border-bottom:5px #F4A024 solid;
}
.main-nav-ul{
	padding: 0;
	position:relative;
}
.main-nav-ul li{
	float: left;
	margin-top:2px;
	border-right: 1px white solid;
	line-height: 40px;
	padding-left: 14px;
	padding-right: 14px;
	list-style-type: none;
}
.main-nav-ul li{
	float: left;
	margin-top:2px;
	border-right: 1px white solid;
	line-height: 40px;
	padding-left: 14px;
	padding-right: 14px;
}

.main-nav-ul li a{
	color: #fff;
	display: block;
}
.main-nav-ul li.home a{
	color:white;
	font-weight: bold;
}
.main-nav-ul li:hover{
	background: #F4A024;
}
.main-nav-ul li:hover  ul{
	display: block;
	border-bottom: 5px #F4A024 solid;
}

.main-nav-ul li ul{
	background: #2A496F;
	display: none;
	line-height: 40px;
	padding-left: 14px;
	padding-right: 14px;
	border: 5px solid;

}
.main-nav-ul li ul li{
	float: none;
	border: none;
	position:relative;
}
.main-nav-ul li ul li:hover{
	background: #142b47;
}
.box-4{
	width: 70%;
	margin-left: 5%;
	float: left;
	}	
	.box-4 .image img{
		margin-top: 20px;
		margin-left: 0px;
		width: 100%;
		border:5px black solid;
	}
 .entry-head a{
	text-decoration: none;
	color:#2A496F;
	font-family:Merriweather Sans ,sans-serif;
	font-weight: normal;

}
 .entry-head a:hover{
 	color:#2980B9;
 }

.heading{
	font-weight: bold;
	font-family: arial;
	font-size: 33px;
	color: #F4A024;
}
.box-4 .subject{
	padding-top: 15px;
	color:grey;
	padding-left: 14px;
	font-size: 14;
}
.side-nav{
	width: 20%;
	background: #2A496F;
	float: right; 
	margin-top:5%;
	margin-right: 20px;
}
.side-nav a{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:5px;
	padding-left:5px;
	color: white;
	font-family: Candara;
	font-weight: bold;
	font-size: 20px;
	letter-spacing:.1em;
}
.side-nav:hover{
	border:5px #F4A024 solid;
}
.side-nav-ul li:hover{
	border: none;
}

.side-nav-ul ul{
	display:none;
	background:white;
}
.side-nav-ul li{
	list-style-image: url('../../icons/play-arrow.png');
}

.side-nav-ul li ul li a{
color:#2A496F; 
}
.side-nav-ul li ul li:hover{
	border: 5px #142b47 solid;
}
.side-nav-ul li:hover ul{
	display: block;
}
.side-nav-ul li:hover ul li{
}.footer-bar{
	width: 100%;
	height:20%;
	background: #142b47;
	margin-top: 90%;
}
.footer-bar .made-by{
		padding-left:35%;
		padding-top: 30px;
		color:#fff;
		font-size:30;
		font-weight: bold;
		border-bottom: 2px white solid;
}
.footer-bar .copyright{
		padding-left:40%;
		padding-top: 25px;
		color:#fff;
		font-size:20;
		font-weight: bold;


}
